body {
  font-family: Arial, sans-serif;
  background: #181818;
  color: white;
  text-align: center;
}
.todo-container {
  margin-top: 100px;
}
input {
  padding: 0.5rem;
  width: 200px;
}
button {
  padding: 0.5rem;
  background: yellow;
  border: none;
  cursor: pointer;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  background: #333;
  margin: 10px;
  padding: 10px;
}
